.inline-inputs {
    display: inline-block;
    margin-right: 3%;
    width: 22%;
}

.btn {
    margin: 2px;
}

.operation-btn {
    width: 70px;
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(234, 234, 253);
}

.animateSpin {
    animation: spin .6s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

